In [1]:
# OKT - Open Korean Text Processor 분석기
# 트위터에서 소셜 분석을 위해 개발한 형태소 분석기.
# konlpy 라이브러리 내의 Okt라는 형태소 분석기.

In [2]:
from konlpy.tag import Okt

In [3]:
forest = '''난 저기 숲이 돼볼게
너는 자그맣기만 한 언덕 위를
오르며 날 바라볼래?
나의 작은 마음 한구석이어도 돼
길을 터 보일게, 나를 베어도 돼
날 지나치지 마, 날 보아줘
나는 널 들을게, 이젠 말해도 돼
날 보며
아, 숲이 아닌 바다이던가?
옆엔 높은 나무가 있길래
하나라도 분명히 하고파
난 이제 물에 가라앉으려나?
난 저기 숲이 돼볼래
나의 옷이 다 눈물에 젖는대도
아, 바다라고 했던가?
그럼 내 눈물 모두 버릴 수 있나?
길을 터 보일게, 나를 베어도 돼
날 밀어내지 마, 날 네게 둬
나는 내가 보여, 난 항상 나를 봐
내가 늘 이래
아, 숲이 아닌 바다이던가?
옆엔 높은 나무가 있길래
하나라도 분명히 하고파
난 이제 물에 가라앉으려나?
나의 눈물 모아 바다로만
흘려보내 나를 다 감추면
기억할게, 내가 뭍에 나와 있어
그때 난 숲이려나?'''

In [4]:
# morphs(text) - 텍스트에서 형태소를 반환
# nouns(text) - 텍스트에서 명사를 반환
# phrases(text) - 텍스트에서 어절을 뽑아냄
# pos(text) - 텍스트에서 품사 정보를 부착하여 반환

In [5]:
okt = Okt()
word_token = okt.morphs(forest)
word_token

['난',
 '저기',
 '숲',
 '이',
 '돼',
 '볼',
 '게',
 '\n',
 '너',
 '는',
 '자그맣기만',
 '한',
 '언덕',
 '위',
 '를',
 '\n',
 '오르며',
 '날',
 '바라볼래',
 '?',
 '\n',
 '나',
 '의',
 '작은',
 '마음',
 '한구석',
 '이어도',
 '돼',
 '\n',
 '길',
 '을',
 '터',
 '보일게',
 ',',
 '나를',
 '베어도',
 '돼',
 '\n',
 '날',
 '지나치지',
 '마',
 ',',
 '날',
 '보아줘',
 '\n',
 '나',
 '는',
 '널',
 '들을게',
 ',',
 '이',
 '젠',
 '말',
 '해도',
 '돼',
 '\n',
 '날',
 '보며',
 '\n',
 '아',
 ',',
 '숲',
 '이',
 '아닌',
 '바다',
 '이던',
 '가',
 '?',
 '\n',
 '옆',
 '엔',
 '높은',
 '나무',
 '가',
 '있길래',
 '\n',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '\n',
 '난',
 '이제',
 '물',
 '에',
 '가라앉으려나',
 '?',
 '\n',
 '난',
 '저기',
 '숲',
 '이',
 '돼',
 '볼',
 '래',
 '\n',
 '나',
 '의',
 '옷',
 '이',
 '다',
 '눈물',
 '에',
 '젖는',
 '대도',
 '\n',
 '아',
 ',',
 '바다',
 '라고',
 '했던가',
 '?',
 '\n',
 '그럼',
 '내',
 '눈물',
 '모두',
 '버릴',
 '수',
 '있나',
 '?',
 '\n',
 '길',
 '을',
 '터',
 '보일게',
 ',',
 '나를',
 '베어도',
 '돼',
 '\n',
 '날',
 '밀어내지',
 '마',
 ',',
 '날',
 '네',
 '게',
 '둬',
 '\n',
 '나',
 '는',
 '내',
 '가',
 '보여',
 ',',
 '난',
 '항상',
 '나를',
 '봐',
 '\n',
 '내',
 '가',
 '늘',
 '이래',
 '\n',
 '아',
 ',',
 '숲',
 '이',
 '아닌',
 '바다',
 '이던',
 '가',
 '?',
 '\n',
 '옆',
 '엔',
 '높은',
 '나무',
 '가',
 '있길래',
 '\n',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '\n',
 '난',
 '이제',
 '물',
 '에',
 '가라앉으려나',
 '?',
 '\n',
 '나',
 '의',
 '눈물',
 '모아',
 '바다로',
 '만',
 '\n',
 '흘려',
 '보내',
 '나를',
 '다',
 '감추면',
 '\n',
 '기억',
 '할게',
 ',',
 '내',
 '가',
 '뭍',
 '에',
 '나와',
 '있어',
 '\n',
 '그때',
 '난',
 '숲',
 '이',
 '려',
 '나',
 '?']

In [6]:
# word_token_nouns = okt.nouns(forest)
# word_token_nouns

In [7]:
# 불용어 찾기
my_stop_words_ko = ["\n","?",",","가","에","을","를"]

filtered_token = []
for word in word_token:
    if word not in my_stop_words_ko:
        filtered_token.append(word)
    # if "A+B" == word:
    #     filtered_token.append("A")
    #     filtered_token.append("B")
    #     filtered_token.remove("A+B")
# 단어를 쪼개서 저장하고 싶을때
filtered_token

['난',
 '저기',
 '숲',
 '이',
 '돼',
 '볼',
 '게',
 '너',
 '는',
 '자그맣기만',
 '한',
 '언덕',
 '위',
 '오르며',
 '날',
 '바라볼래',
 '나',
 '의',
 '작은',
 '마음',
 '한구석',
 '이어도',
 '돼',
 '길',
 '터',
 '보일게',
 '나를',
 '베어도',
 '돼',
 '날',
 '지나치지',
 '마',
 '날',
 '보아줘',
 '나',
 '는',
 '널',
 '들을게',
 '이',
 '젠',
 '말',
 '해도',
 '돼',
 '날',
 '보며',
 '아',
 '숲',
 '이',
 '아닌',
 '바다',
 '이던',
 '옆',
 '엔',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '난',
 '이제',
 '물',
 '가라앉으려나',
 '난',
 '저기',
 '숲',
 '이',
 '돼',
 '볼',
 '래',
 '나',
 '의',
 '옷',
 '이',
 '다',
 '눈물',
 '젖는',
 '대도',
 '아',
 '바다',
 '라고',
 '했던가',
 '그럼',
 '내',
 '눈물',
 '모두',
 '버릴',
 '수',
 '있나',
 '길',
 '터',
 '보일게',
 '나를',
 '베어도',
 '돼',
 '날',
 '밀어내지',
 '마',
 '날',
 '네',
 '게',
 '둬',
 '나',
 '는',
 '내',
 '보여',
 '난',
 '항상',
 '나를',
 '봐',
 '내',
 '늘',
 '이래',
 '아',
 '숲',
 '이',
 '아닌',
 '바다',
 '이던',
 '옆',
 '엔',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '난',
 '이제',
 '물',
 '가라앉으려나',
 '나',
 '의',
 '눈물',
 '모아',
 '바다로',
 '만',
 '흘려',
 '보내',
 '나를',
 '다',
 '감추면',
 '기억',
 '할게',
 '내',
 '뭍',
 '나와',
 '있어',
 '그때',
 '난',
 '숲',
 '이',
 '려',
 '나']

In [8]:
# 한글자인 글자 빼기
filtered_token_over2 = []
for word in filtered_token:
    if len(word) >= 2:
        filtered_token_over2.append(word)
filtered_token_over2

['저기',
 '자그맣기만',
 '언덕',
 '오르며',
 '바라볼래',
 '작은',
 '마음',
 '한구석',
 '이어도',
 '보일게',
 '나를',
 '베어도',
 '지나치지',
 '보아줘',
 '들을게',
 '해도',
 '보며',
 '아닌',
 '바다',
 '이던',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '이제',
 '가라앉으려나',
 '저기',
 '눈물',
 '젖는',
 '대도',
 '바다',
 '라고',
 '했던가',
 '그럼',
 '눈물',
 '모두',
 '버릴',
 '있나',
 '보일게',
 '나를',
 '베어도',
 '밀어내지',
 '보여',
 '항상',
 '나를',
 '이래',
 '아닌',
 '바다',
 '이던',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '이제',
 '가라앉으려나',
 '눈물',
 '모아',
 '바다로',
 '흘려',
 '보내',
 '나를',
 '감추면',
 '기억',
 '할게',
 '나와',
 '있어',
 '그때']

In [9]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [10]:
tok = Tokenizer()
tok.fit_on_texts(filtered_token_over2)

In [11]:
tok.word_index

{'나를': 1,
 '바다': 2,
 '눈물': 3,
 '저기': 4,
 '보일게': 5,
 '베어도': 6,
 '아닌': 7,
 '이던': 8,
 '높은': 9,
 '나무': 10,
 '있길래': 11,
 '하나': 12,
 '라도': 13,
 '분명히': 14,
 '하고파': 15,
 '이제': 16,
 '가라앉으려나': 17,
 '자그맣기만': 18,
 '언덕': 19,
 '오르며': 20,
 '바라볼래': 21,
 '작은': 22,
 '마음': 23,
 '한구석': 24,
 '이어도': 25,
 '지나치지': 26,
 '보아줘': 27,
 '들을게': 28,
 '해도': 29,
 '보며': 30,
 '젖는': 31,
 '대도': 32,
 '라고': 33,
 '했던가': 34,
 '그럼': 35,
 '모두': 36,
 '버릴': 37,
 '있나': 38,
 '밀어내지': 39,
 '보여': 40,
 '항상': 41,
 '이래': 42,
 '모아': 43,
 '바다로': 44,
 '흘려': 45,
 '보내': 46,
 '감추면': 47,
 '기억': 48,
 '할게': 49,
 '나와': 50,
 '있어': 51,
 '그때': 52}

In [12]:
tok.word_counts

OrderedDict([('저기', 2),
             ('자그맣기만', 1),
             ('언덕', 1),
             ('오르며', 1),
             ('바라볼래', 1),
             ('작은', 1),
             ('마음', 1),
             ('한구석', 1),
             ('이어도', 1),
             ('보일게', 2),
             ('나를', 4),
             ('베어도', 2),
             ('지나치지', 1),
             ('보아줘', 1),
             ('들을게', 1),
             ('해도', 1),
             ('보며', 1),
             ('아닌', 2),
             ('바다', 3),
             ('이던', 2),
             ('높은', 2),
             ('나무', 2),
             ('있길래', 2),
             ('하나', 2),
             ('라도', 2),
             ('분명히', 2),
             ('하고파', 2),
             ('이제', 2),
             ('가라앉으려나', 2),
             ('눈물', 3),
             ('젖는', 1),
             ('대도', 1),
             ('라고', 1),
             ('했던가', 1),
             ('그럼', 1),
             ('모두', 1),
             ('버릴', 1),
             ('있나', 1),
             ('밀어내지', 1),
             ('보여', 1),
             ('항상', 1),
             ('이래', 1),
             ('모아', 1),
             ('바다로', 1),
             ('흘려', 1),
             ('보내', 1),
             ('감추면', 1),
             ('기억', 1),
             ('할게', 1),
             ('나와', 1),
             ('있어', 1),
             ('그때', 1)])

In [13]:
tok.texts_to_sequences(filtered_token_over2)

[[4],
 [18],
 [19],
 [20],
 [21],
 [22],
 [23],
 [24],
 [25],
 [5],
 [1],
 [6],
 [26],
 [27],
 [28],
 [29],
 [30],
 [7],
 [2],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [4],
 [3],
 [31],
 [32],
 [2],
 [33],
 [34],
 [35],
 [3],
 [36],
 [37],
 [38],
 [5],
 [1],
 [6],
 [39],
 [40],
 [41],
 [1],
 [42],
 [7],
 [2],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [3],
 [43],
 [44],
 [45],
 [46],
 [1],
 [47],
 [48],
 [49],
 [50],
 [51],
 [52]]

In [14]:
len(tok.word_index)

52

In [15]:
vocab_size = 10
tok_vocab_10 = Tokenizer(num_words = vocab_size + 1) # OOV(Out of Vocabulary)
tok_vocab_10.fit_on_texts(filtered_token_over2)

In [16]:
words_freq_cut = [word for word, index in tok_vocab_10.word_index.items()
                 if index >= vocab_size+1]
words_freq_cut

['있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '이제',
 '가라앉으려나',
 '자그맣기만',
 '언덕',
 '오르며',
 '바라볼래',
 '작은',
 '마음',
 '한구석',
 '이어도',
 '지나치지',
 '보아줘',
 '들을게',
 '해도',
 '보며',
 '젖는',
 '대도',
 '라고',
 '했던가',
 '그럼',
 '모두',
 '버릴',
 '있나',
 '밀어내지',
 '보여',
 '항상',
 '이래',
 '모아',
 '바다로',
 '흘려',
 '보내',
 '감추면',
 '기억',
 '할게',
 '나와',
 '있어',
 '그때']

In [17]:
# words_freq_cut
for word in words_freq_cut:
    del tok_vocab_10.word_index[word]
    del tok_vocab_10.word_counts[word]

In [18]:
print(tok_vocab_10.word_index)

{'나를': 1, '바다': 2, '눈물': 3, '저기': 4, '보일게': 5, '베어도': 6, '아닌': 7, '이던': 8, '높은': 9, '나무': 10}

In [19]:
print(tok_vocab_10.word_counts)

OrderedDict([('저기', 2), ('보일게', 2), ('나를', 4), ('베어도', 2), ('아닌', 2), ('바다', 3), ('이던', 2), ('높은', 2), ('나무', 2), ('눈물', 3)])

In [20]:
print(tok_vocab_10.texts_to_sequences(filtered_token_over2))

[[4], [], [], [], [], [], [], [], [], [5], [1], [6], [], [], [], [], [], [7], [2], [8], [9], [10], [], [], [], [], [], [], [], [4], [3], [], [], [2], [], [], [], [3], [], [], [], [5], [1], [6], [], [], [], [1], [], [7], [2], [8], [9], [10], [], [], [], [], [], [], [], [3], [], [], [], [], [1], [], [], [], [], [], []]

In [21]:
filtered_token_over2

['저기',
 '자그맣기만',
 '언덕',
 '오르며',
 '바라볼래',
 '작은',
 '마음',
 '한구석',
 '이어도',
 '보일게',
 '나를',
 '베어도',
 '지나치지',
 '보아줘',
 '들을게',
 '해도',
 '보며',
 '아닌',
 '바다',
 '이던',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '이제',
 '가라앉으려나',
 '저기',
 '눈물',
 '젖는',
 '대도',
 '바다',
 '라고',
 '했던가',
 '그럼',
 '눈물',
 '모두',
 '버릴',
 '있나',
 '보일게',
 '나를',
 '베어도',
 '밀어내지',
 '보여',
 '항상',
 '나를',
 '이래',
 '아닌',
 '바다',
 '이던',
 '높은',
 '나무',
 '있길래',
 '하나',
 '라도',
 '분명히',
 '하고파',
 '이제',
 '가라앉으려나',
 '눈물',
 '모아',
 '바다로',
 '흘려',
 '보내',
 '나를',
 '감추면',
 '기억',
 '할게',
 '나와',
 '있어',
 '그때']

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
joined_text = " ".join(filtered_token_over2)
joined_text

'저기 자그맣기만 언덕 오르며 바라볼래 작은 마음 한구석 이어도 보일게 나를 베어도 지나치지 보아줘 들을게 해도 보며 아닌 바다 이던 높은 나무 있길래 하나 라도 분명히 하고파 이제 가라앉으려나 저기 눈물 젖는 대도 바다 라고 했던가 그럼 눈물 모두 버릴 있나 보일게 나를 베어도 밀어내지 보여 항상 나를 이래 아닌 바다 이던 높은 나무 있길래 하나 라도 분명히 하고파 이제 가라앉으려나 눈물 모아 바다로 흘려 보내 나를 감추면 기억 할게 나와 있어 그때'

In [24]:
# flatten() 함수 - flatten은 numpy에서 제공하는 다차원 배열 공간을 1차원으로 평탄화 해주는 함수

# 예시
# X = np.array([[51, 55], [14, 19], [0, 4]])
# X = X.flatten() # 1차원 배열로 변환 (평탄화)
# print(X)

# 결과
# [51 55 14 19 0 4]

In [25]:
# 단어들의 출현 수를 모아놓은 가방
cv = CountVectorizer() # Bag of words
print(cv.fit_transform([joined_text]).toarray())
len(cv.fit_transform([joined_text]).toarray().flatten())

[[2 1 1 1 1 4 2 1 2 3 1 1 1 2 1 1 1 1 3 1 1 1 2 1 1 1 1 2 2 2 1 1 2 1 1 2
  2 1 1 1 1 2 1 1 2 2 1 1 1 1 1 1]]

52

In [26]:
len(cv.vocabulary_),cv.vocabulary_

(52,
 {'저기': 41,
  '자그맣기만': 39,
  '언덕': 30,
  '오르며': 31,
  '바라볼래': 20,
  '작은': 40,
  '마음': 14,
  '한구석': 46,
  '이어도': 34,
  '보일게': 27,
  '나를': 5,
  '베어도': 22,
  '지나치지': 43,
  '보아줘': 25,
  '들을게': 11,
  '해도': 49,
  '보며': 24,
  '아닌': 29,
  '바다': 18,
  '이던': 32,
  '높은': 8,
  '나무': 6,
  '있길래': 36,
  '하나': 45,
  '라도': 13,
  '분명히': 28,
  '하고파': 44,
  '이제': 35,
  '가라앉으려나': 0,
  '눈물': 9,
  '젖는': 42,
  '대도': 10,
  '라고': 12,
  '했던가': 50,
  '그럼': 3,
  '모두': 15,
  '버릴': 21,
  '있나': 37,
  '밀어내지': 17,
  '보여': 26,
  '항상': 48,
  '이래': 33,
  '모아': 16,
  '바다로': 19,
  '흘려': 51,
  '보내': 23,
  '감추면': 1,
  '기억': 4,
  '할게': 47,
  '나와': 7,
  '있어': 38,
  '그때': 2})

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
tfidf = TfidfVectorizer() # Bag of words
# Tf : Total Freq
# idf : inverse document freq
print(tfidf.fit_transform([joined_text]).toarray())
len(tfidf.fit_transform([joined_text]).toarray().flatten())

[[0.17888544 0.08944272 0.08944272 0.08944272 0.08944272 0.35777088
  0.17888544 0.08944272 0.17888544 0.26832816 0.08944272 0.08944272
  0.08944272 0.17888544 0.08944272 0.08944272 0.08944272 0.08944272
  0.26832816 0.08944272 0.08944272 0.08944272 0.17888544 0.08944272
  0.08944272 0.08944272 0.08944272 0.17888544 0.17888544 0.17888544
  0.08944272 0.08944272 0.17888544 0.08944272 0.08944272 0.17888544
  0.17888544 0.08944272 0.08944272 0.08944272 0.08944272 0.17888544
  0.08944272 0.08944272 0.17888544 0.17888544 0.08944272 0.08944272
  0.08944272 0.08944272 0.08944272 0.08944272]]

52

In [29]:
# GIGO : Garbage In Garbage Out
# 위와 같이 형태소 빈도로 분석하는 경우 문장의 의미가 생략되는 경우가 발생할 수 있음.

In [30]:
# Scikt-learn ML 분류: RandomForest, kNN(k이웃의개수), Linear Regression

In [31]:
import pandas as pd

In [32]:
df_naver_review_train = pd.read_csv("ratings_train.txt", delimiter="\t")
df_naver_review_train

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [33]:
df_naver_review_test = pd.read_csv("ratings_test.txt", delimiter="\t")
df_naver_review_test

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [34]:
df_naver_review_train = df_naver_review_train[:10000]

In [35]:
df_naver_review_test = df_naver_review_test[:5000]

In [36]:
df_naver_review_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10000 non-null  int64
 1   document  10000 non-null  object
 2   label     10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [37]:
df_naver_review_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5000 non-null   int64
 1   document  5000 non-null   object
 2   label     5000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 117.3+ KB

In [38]:
df_naver_review_test.dropna()

           id                                           document  label
0     6270596                                                굳 ㅋ      1
1     9274899                               GDNTOPCLASSINTHECLUB      0
2     8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3     6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4     6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...       ...                                                ...    ...
4995  5762098          조은숙연기도좋았고 일인자가 되기위해자신의모든걸 던지는 박상민연기 빨간아우디      1
4996  7102344           그지같은영화 난해하고 뭘얘기하는건지 도중에 보다가 나왔었던적은 첨인 영화      0
4997  6124663                                    I am the doctor      1
4998  6873208                  재미도있고 많은 생각을 할수있게 해주는 애니메이션이네요 ^^      1
4999  6394118                                       차라리 저약먹고 죽을래      0

[5000 rows x 3 columns]

In [39]:
# Missing Data
# numpy와 pandas를 쓸때, NaN이 나오는 경우가 많다.
#예외 값을 처리하는 방법 -> Dropna, Fillna

In [40]:
X_train = df_naver_review_train["document"]
y_train = df_naver_review_train["label"]
X_test = df_naver_review_test["document"]
y_test = df_naver_review_test["label"]

In [41]:
naver_re_tfidf = TfidfVectorizer()
naver_re_tfidf.fit(X_train)

TfidfVectorizer()

In [42]:
X_train_tfidf = naver_re_tfidf.transform(X_train)
X_train_tfidf

<10000x36154 sparse matrix of type '<class 'numpy.float64'>'
	with 73019 stored elements in Compressed Sparse Row format>

In [43]:
X_test_tfidf = naver_re_tfidf.transform(X_test)
X_test_tfidf

<5000x36154 sparse matrix of type '<class 'numpy.float64'>'
	with 21009 stored elements in Compressed Sparse Row format>

In [44]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train_tfidf, y_train)

LogisticRegression()

In [45]:
lr.score(X_test_tfidf, y_test)

0.7516

In [46]:
from sklearn.svm import LinearSVC
svm = LinearSVC()
svm.fit(X_train_tfidf, y_train)
svm.score(X_test_tfidf, y_test)

0.7588

In [47]:
from sklearn.svm import LinearSVC
svm = LinearSVC(C=2.0)
svm.fit(X_train_tfidf, y_train)
svm.score(X_test_tfidf, y_test)

0.7548

In [48]:
# https://word2vec.kr/search

In [49]:
# 코사인 유사도(방향성)

In [50]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

In [51]:
# norm 
# 벡터 성분의 절대값으 모두 더하면 구할 수 있음.
# 벡터의 유클리드 거리로 구할 수 있음.

In [52]:
def cos_sim(A, B):
    return dot(A, B)/(norm(A) * norm(B))

In [53]:
"""
문서 1: 나는 치킨 좋아요
문서 2: 나는 피자 좋아요
문서 3: 나는 피자 좋아요 나는 피자 좋아요

        나는 치킨 피자 좋아요
문서 1:   1   1    0    1
문서 2:   1   0    1    1
문서 3:   2   0    2    2
"""

'\n문서 1: 나는 치킨 좋아요\n문서 2: 나는 피자 좋아요\n문서 3: 나는 피자 좋아요 나는 피자 좋아요\n\n        나는 치킨 피자 좋아요\n문서 1:   1   1    0    1\n문서 2:   1   0    1    1\n문서 3:   2   0    2    2\n'

In [54]:
doc1 = np.array([1,1,0,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

In [55]:
# 문서 1: 나는 치킨 좋아요
# 문서 2: 나는 피자 좋아요
# 문서 3: 나는 피자 좋아요 나는 피자 좋아요
print(cos_sim(doc1, doc2))
print(cos_sim(doc1, doc3))
print(cos_sim(doc2, doc3))

0.6666666666666667
0.6666666666666667
1.0000000000000002

In [56]:
# 코사인 유사도(두 벡터 간의 코사인 각도를 이용)
# 벡터 유사도로 방향이 완전히 동일한 경우 1 
# 90%의 각을 이루면 0
# 180도 반대 방향을 가지면 -1

In [57]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity([doc1],[doc2]))
print(cosine_similarity([doc1],[doc3]))
print(cosine_similarity([doc2],[doc3]))

[[0.66666667]]
[[0.66666667]]
[[1.]]

In [58]:
# 유클리디안(유클리드 거리)
def eu_dist(A, B):
    return np.sqrt(np.sum((A-B)**2))

In [59]:
# 문서 1: 나는 치킨 좋아요
# 문서 2: 나는 피자 좋아요
# 문서 3: 나는 피자 좋아요 나는 피자 좋아요
print(eu_dist(doc1, doc2))
print(eu_dist(doc1, doc3))
print(eu_dist(doc2, doc3))

1.4142135623730951
2.6457513110645907
1.7320508075688772

In [60]:
from sklearn.metrics.pairwise import euclidean_distances
print(euclidean_distances([doc1], [doc2]))
print(euclidean_distances([doc1], [doc3]))
print(euclidean_distances([doc2], [doc3]))

[[1.41421356]]
[[2.64575131]]
[[1.73205081]]

In [61]:
df_movie = pd.read_csv("movies_metadata.csv")
df_movie
# low_memory=False

C:\Users\robin\AppData\Local\Temp\ipykernel_14892\109663552.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie = pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [62]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [63]:
data = df_movie[['title','overview']]
data

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...
45461,Subdue,Rising and falling between a man and woman.
45462,Century of Birthing,An artist struggles to finish his work while a...
45463,Betrayal,"When one of her hits goes wrong, a professiona..."
45464,Satan Triumphant,"In a small town live two brothers, one a minis..."
45465,Queerama,50 years after decriminalisation of homosexual...

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     45460 non-null  object
 1   overview  44512 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [65]:
45460 - 44512

948

In [66]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44506 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     44506 non-null  object
 1   overview  44506 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [67]:
tfidf = TfidfVectorizer(stop_words="english")
tfidf_dtm = tfidf.fit_transform(data["overview"])
tfidf_dtm

<44506x75827 sparse matrix of type '<class 'numpy.float64'>'
	with 1210839 stored elements in Compressed Sparse Row format>

In [68]:
cos_sim_res = cosine_similarity(tfidf_dtm, tfidf_dtm)

In [69]:
title_to_index = dict(zip(data["title"], data.index))
title_to_index

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 29042,
 'Sabrina': 888,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'The American President': 10,
 'Dracula: Dead and Loving It': 11,
 'Balto': 12,
 'Nixon': 13,
 'Cutthroat Island': 14,
 'Casino': 15,
 'Sense and Sensibility': 41042,
 'Four Rooms': 17,
 'Ace Ventura: When Nature Calls': 18,
 'Money Train': 19,
 'Get Shorty': 20,
 'Copycat': 21,
 'Assassins': 22,
 'Powder': 23,
 'Leaving Las Vegas': 24,
 'Othello': 21274,
 'Now and Then': 26,
 'Persuasion': 40837,
 'The City of Lost Children': 28,
 'Shanghai Triad': 29,
 'Dangerous Minds': 30,
 'Twelve Monkeys': 31,
 'Babe': 33,
 'Carrington': 34,
 'Dead Man Walking': 35,
 'Across the Sea of Time': 36,
 'It Takes Two': 29129,
 'Clueless': 38,
 'Cry, the Beloved Country': 26667,
 'Richard III': 17719,
 'Dead Presidents': 41,
 'Restoration': 38571,
 'Mortal Kombat': 43,
 'To Die For': 44,
 'How To Make An American Quilt': 45,
 'Se7en': 46,
 'Pocahontas': 47,
 'When Night Is Falling': 48,
 'The Usual Suspects': 49,
 'Guardian Angel': 50,
 'Mighty Aphrodite': 51,
 'Lamerica': 38204,
 'The Big Green': 53,
 'Georgia': 54,
 'Kids of the Round Table': 55,
 'Home for the Holidays': 33568,
 'The Postman': 1644,
 'The Confessional': 58,
 'The Indian in the Cupboard': 59,
 'Eye for an Eye': 25757,
 "Mr. Holland's Opus": 61,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 62,
 'Two If by Sea': 63,
 'Bio-Dome': 64,
 'Lawnmower Man 2: Beyond Cyberspace': 65,
 'Two Bits': 66,
 'French Twist': 67,
 'Friday': 39550,
 'From Dusk Till Dawn': 69,
 'Fair Game': 39403,
 'Kicking and Screaming': 71,
 'Les Miserables': 20157,
 'Bed of Roses': 19880,
 'Big Bully': 74,
 'Screamers': 41220,
 'Nico Icon': 76,
 'The Crossing Guard': 77,
 'The Juror': 78,
 'The White Balloon': 79,
 "Things to Do in Denver When You're Dead": 80,
 "Antonia's Line": 81,
 'Once Upon a Time... When We Were Colored': 82,
 'Last Summer in the Hamptons': 83,
 'Angels and Insects': 84,
 'White Squall': 85,
 'Dunston Checks In': 86,
 'Black Sheep': 16328,
 'Nick of Time': 88,
 'The Journey of August King': 89,
 'Mary Reilly': 90,
 'Vampire in Brooklyn': 91,
 'Beautiful Girls': 92,
 'Broken Arrow': 11937,
 "A Midwinter's Tale": 94,
 'La Haine': 95,
 'Shopping': 96,
 'Heidi Fleiss: Hollywood Madam': 97,
 'City Hall': 98,
 'Bottle Rocket': 99,
 'Mr. Wrong': 100,
 'Unforgettable': 43232,
 'Happy Gilmore': 102,
 'The Bridges of Madison County': 103,
 'Nobody Loves Me': 104,
 'Muppet Treasure Island': 105,
 'Catwalk': 106,
 'Headless Body in Topless Bar': 107,
 'Braveheart': 108,
 'Taxi Driver': 109,
 'Rumble in the Bronx': 110,
 'Before and After': 111,
 "Margaret's Museum": 112,
 'Happiness Is in the Field': 113,
 'Anne Frank Remembered': 114,
 "The Young Poisoner's Handbook": 115,
 'If Lucy Fell': 116,
 'Steal Big Steal Little': 117,
 'Race the Sun': 118,
 'The Boys of St. Vincent': 119,
 'Boomerang': 120,
 'Chungking Express': 121,
 'The Star Maker': 122,
 'Flirting with Disaster': 123,
 'The Neverending Story III: Escape from Fantasia': 124,
 'The Silences of the Palace': 125,
 "Jupiter's Wife": 126,
 'Pie in the Sky': 36585,
 'Angela': 128,
 'Frankie Starlight': 129,
 'Jade': 130,
 'Nueba Yol': 131,
 'Sonic Outlaws': 132,
 'Down Periscope': 133,
 'From the Journals of Jean Seberg': 134,
 'Man of the Year': 11330,
 'The Neon Bible': 136,
 'Target': 24130,
 'Up Close & Personal': 138,
 'The Birdcage': 139,
 'Virgin Mary': 140,
 'The Brothers McMullen': 141,
 'Bad Boys': 29494,
 'The Amazing Panda Adventure': 143,
 'The Basketball Diaries': 144,
 'An Awfully Big Adventure': 145,
 'Amateur': 146,
 'Apollo 13': 147,
 'Rob Roy': 148,
 'The Addiction': 149,
 'Batman Forever': 150,
 'Belle de Jour': 151,
 'Beyond Rangoon': 152,
 'Blue in the Face': 153,
 'Canadian Bacon': 154,
 'Casper': 155,
 'Clockers': 156,
 'Congo': 157,
 'Crimson Tide': 158,
 'Crumb': 159,
 'Desperado': 160,
 'Devil in a Blue Dress': 161,
 'Die Hard: With a Vengeance': 162,
 'The Doom Generation': 163,
 'Feast of July': 164,
 'First Knight': 165,
 'Free Willy 2 - The Adventure Home': 166,
 'Hackers': 167,
 'Jeffrey': 168,
 'Johnny Mnemonic': 169,
 'Judge Dredd': 170,
 'Jury Duty': 171,
 'Kids': 172,
 'Living in Oblivion': 173,
 'Lord of Illusions': 174,
 'Love & Human Remains': 175,
 'Mad Love': 39082,
 'Mallrats': 177,
 'Mighty Morphin Power Rangers: The Movie': 178,
 'Moonlight and Valentino': 179,
 'Mute Witness': 180,
 'Nadja': 181,
 'The Net': 38116,
 'Nine Months': 183,
 'Party Girl': 27977,
 'The Prophecy': 185,
 'Reckless': 14294,
 'Safe': 18906,
 'The Scarlet Letter': 22061,
 'The Show': 31868,
 'Showgirls': 190,
 'Smoke': 191,
 'Something to Talk About': 192,
 'Species': 193,
 'The Stars Fell on Henrietta': 194,
 'Strange Days': 195,
 'The Umbrellas of Cherbourg': 196,
 'The Tie That Binds': 197,
 'Three Wishes': 198,
 'Total Eclipse': 199,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 200,
 'Under Siege 2: Dark Territory': 201,
 'Unstrung Heroes': 202,
 'Unzipped': 203,
 'A Walk in the Clouds': 204,
 'Waterworld': 205,
 "White Man's Burden": 206,
 'Wild Bill': 19205,
 'The Browning Version': 10251,
 'Bushwhacked': 209,
 'Burnt by the Sun': 210,
 'Before the Rain': 211,
 'Before Sunrise': 212,
 'Billy Madison': 213,
 'The Babysitter': 214,
 'Boys on the Side': 215,
 'The Cure': 18680,
 'Castle Freak': 217,
 'Circle of Friends': 218,
 'Clerks': 219,
 'Don Juan DeMarco': 220,
 'Disclosure': 221,
 'Dream Man': 222,
 'Drop Zone': 223,
 'Destiny Turns on the Radio': 224,
 'Death and the Maiden': 225,
 'Dolores Claiborne': 226,
 'Dumb and Dumber': 227,
 'Eat Drink Man Woman': 228,
 'Exotica': 229,
 'Exit to Eden': 230,
 'Ed Wood': 231,
 'French Kiss': 232,
 'Forget Paris': 233,
 'Far from Home: The Adventures of Yellow Dog': 234,
 'A Goofy Movie': 235,
 'Hideaway': 236,
 'Fluke': 36039,
 'Farinelli': 238,
 'Gordy': 239,
 'Gumby: The Movie': 240,
 'The Glass Shield': 241,
 'Hoop Dreams': 242,
 'Heavenly Creatures': 243,
 'Houseguest': 244,
 'Immortal Beloved': 245,
 'Heavyweights': 24165,
 'The Hunted': 6081,
 'I.Q.': 248,
 'Interview with the Vampire': 249,
 'Jefferson in Paris': 250,
 'The Jerky Boys': 251,
 'Junior': 42989,
 'Just Cause': 253,
 "A Kid in King Arthur's Court": 254,
 'Kiss of Death': 10602,
 'Star Wars': 256,
 'Little Women': 6902,
 'A Little Princess': 44736,
 'Ladybird Ladybird': 259,
 "L'Enfer": 260,
 'Like Water for Chocolate': 261,
 'Legends of the Fall': 262,
 'Major Payne': 263,
 'Little Odessa': 264,
 'Mi Vida Loca': 265,
 'Love Affair': 6688,
 'Losing Isaiah': 267,
 'The Madness of King George': 268,
 "Mary Shelley's Frankenstein": 269,
 'Man of the House': 9731,
 'Mixed Nuts': 271,
 'Milk Money': 272,
 'Miracle on 34th Street': 2285,
 'Miami Rhapsody': 274,
 'My Family': 275,
 'Murder in the First': 276,
 "Nobody's Fool": 8889,
 'Nell': 278,
 'New Jersey Drive': 279,
 'New York Cop': 280,
 'Beyond Bedlam': 281,
 'Nemesis 2 - Nebula': 282,
 'Nina Takes a Lover': 283,
 'Natural Born Killers': 284,
 'Only You': 285,
 'Once Were Warriors': 286,
 'Poison Ivy II: Lily': 287,
 'Outbreak': 288,
 'Leon: The Professional': 289,
 'The Perez Family': 290,
 "A Pyromaniac's Love Story": 291,
 'Pulp Fiction': 292,
 'Panther': 293,
 'Pushing Hands': 294,
 'Priest': 17108,
 'Quiz Show': 296,
 'Picture Bride': 297,
 'Queen Margot': 298,
 'The Quick and the Dead': 13489,
 'Prêt-à-Porter': 301,
 'Three Colors: Red': 302,
 'Three Colors: Blue': 303,
 'Three Colors: White': 304,
 'Red Firecracker, Green Firecracker': 305,
 'Rent-a-Kid': 306,
 'Relative Fear': 307,
 'Stuart Saves His Family': 308,
 'The Swan Princess': 309,
 'The Secret of Roan Inish': 310,
 'The Specialist': 311,
 'Stargate': 312,
 'The Santa Clause': 313,
 'The Shawshank Redemption': 314,
 'Shallow Grave': 315,
 'Suture': 316,
 'Strawberry and Chocolate': 317,
 'Swimming with Sharks': 318,
 'The Sum of Us': 319,
 'Senior Trip': 320,
 'To Live': 321,
 'Tank Girl': 322,
 'Tales from the Crypt: Demon Knight': 323,
 'Star Trek: Generations': 324,
 'Tales from the Hood': 325,
 'Tom & Viv': 326,
 'Village of the Damned': 2440,
 'Tommy Boy': 328,
 'Vanya on 42nd Street': 329,
 'The Underneath': 26453,
 'The Walking Dead': 7659,
 "What's Eating Gilbert Grape": 332,
 'Virtuosity': 333,
 'While You Were Sleeping': 334,
 'The War': 19158,
 'Double Happiness': 336,
 "Muriel's Wedding": 337,
 'The Baby-Sitters Club': 338,
 'Ace Ventura: Pet Detective': 339,
 'The Adventures of Priscilla, Queen of the Desert': 340,
 'Backbeat': 341,
 'Bitter Moon': 342,
 'Bullets Over Broadway': 343,
 'Clear and Present Danger': 344,
 'The Client': 33775,
 'Corrina, Corrina': 346,
 'Crooklyn': 347,
 'The Crow': 348,
 'Cobb': 349,
 'The Flintstones': 350,
 'Forrest Gump': 351,
 'Four Weddings and a Funeral': 352,
 'Higher Learning': 353,
 'I Like It Like That': 354,
 'I Love Trouble': 26946,
 'It Could Happen to You': 356,
 'The Jungle Book': 31390,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 358,
 'The Lion King': 359,
 'Little Buddha': 360,
 'New Nightmare': 361,
 'The Mask': 37958,
 'Maverick': 363,
 'Mrs. Parker and the Vicious Circle': 364,
 'The Naked Gun 33⅓: The Final Insult': 365,
 'The Paper': 366,
 'Reality Bites': 367,
 'Red Rock West': 368,
 'Ri¢hie Ri¢h': 369,
 'Safe Passage': 370,
 'The River Wild': 371,
 'Speed': 372,
 'Speechless': 373,
 'Timecop': 374,
 'True Lies': 375,
 'When a Man Loves a Woman': 376,
 'Wolf': 34950,
 'Wyatt Earp': 378,
 'Bad Company': 5292,
 'A Man of No Importance': 380,
 'S.F.W.': 381,
 'A Low Down Dirty Shame': 382,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 383,
 'Colonel Chabert': 384,
 'Faster, Pussycat! Kill! Kill!': 385,
 "Jason's Lyric": 386,
 'The Secret Adventures of Tom Thumb': 387,
 'Street Fighter': 388,
 'Coldblooded': 389,
 'Desert Winds': 390,
 'Fall Time': 391,
 'The Fear': 392,
 'Frank and Ollie': 393,
 'Girl in the Cadillac': 394,
 'Homage': 395,
 'Mirage': 45127,
 'Open Season': 11311,
 'Dos Crímenes': 398,
 'Brother Minister: The Assassination of Malcolm X': 399,
 'Highlander: The Final Dimension': 400,
 'Federal Hill': 401,
 'In the Mouth of Madness': 402,
 '8 Seconds': 403,
 'Above the Rim': 404,
 'Addams Family Values': 405,
 'Martin Lawrence: You So Crazy': 406,
 'The Age of Innocence': 19762,
 'Airheads': 408,
 'The Air Up There': 409,
 'Another Stakeout': 410,
 'Bad Girls': 21214,
 'Barcelona': 412,
 'Being Human': 413,
 'The Beverly Hillbillies': 414,
 'Beverly Hills Cop III': 415,
 'Black Beauty': 8202,
 'Blink': 417,
 'Blown Away': 18154,
 'Blue Chips': 419,
 'Blue Sky': 420,
 'Body Snatchers': 421,
 'Boxing Helena': 422,
 'A Bronx Tale': 423,
 'Cabin Boy': 424,
 'Calendar Girl': 425,
 "Carlito's Way": 426,
 "City Slickers II: The Legend of Curly's Gold": 427,
 'Clean Slate': 428,
 'Cliffhanger': 429,
 'Coneheads': 430,
 'Color of Night': 431,
 'Cops & Robbersons': 432,
 'The Cowboy Way': 433,
 'Dangerous Game': 434,
 'Dave': 435,
 'Dazed and Confused': 436,
 'Demolition Man': 437,
 'The Endless Summer 2': 438,
 'Even Cowgirls Get the Blues': 439,
 'Fatal Instinct': 440,
 'Farewell My Concubine': 441,
 'The Favor': 442,
 'Fearless': 11051,
 'Fear of a Black Hat': 444,
 'With Honors': 445,
 'Flesh and Bone': 446,
 "Widows' Peak": 447,
 'For Love or Money': 42221,
 'The Firm': 19164,
 'Free Willy': 450,
 'Fresh': 38699,
 'The Fugitive': 12175,
 'Geronimo: An American Legend': 453,
 'The Getaway': 7577,
 'Getting Even with Dad': 455,
 'Go Fish': 456,
 'A Good Man in Africa': 457,
 'Guilty as Sin': 458,
 'Hard Target': 459,
 'Heaven & Earth': 460,
 'Hot Shots! Part Deux': 461,
 'Live Nude Girls': 462,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 463,
 'The House of the Spirits': 464,
 'House Party 3': 465,
 'The Hudsucker Proxy': 466,
 "I'll Do Anything": 467,
 'In the Army Now': 468,
 'In the Line of Fire': 469,
 'In the Name of the Father': 470,
 'The Inkwell': 471,
 "What's Love Got to Do with It": 472,
 'Jimmy Hollywood': 473,
 'Judgment Night': 474,
 'Jurassic Park': 475,
 'Kalifornia': 476,
 'Killing Zoe': 477,
 'King of the Hill': 478,
 'Lassie': 11227,
 'Last Action Hero': 480,
 'Life With Mikey': 481,
 'Lightning Jack': 482,
 'M. Butterfly': 483,
 'Made in America': 484,
 'Malice': 485,
 'The Man without a Face': 486,
 'Manhattan Murder Mystery': 487,
 'Menace II Society': 488,
 'Executive Decision': 489,
 'In the Realm of the Senses': 490,
 'What Happened Was...': 491,
 'Much Ado About Nothing': 43710,
 'Mr. Jones': 25475,
 'Mr. Wonderful': 494,
 'Mrs. Doubtfire': 495,
 'Naked': 40505,
 'The Next Karate Kid': 497,
 'The New Age': 498,
 'No Escape': 32371,
 'North': 15555,
 'Orlando': 501,
 'A Perfect World': 502,
 'Philadelphia': 503,
 'The Piano': 504,
 'Poetic Justice': 505,
 'The Program': 33141,
 'The Puppet Masters': 507,
 'Radioland Murders': 508,
 'The Ref': 509,
 'The Remains of the Day': 510,
 'Renaissance Man': 511,
 'Rising Sun': 512,
 'The Road to Wellville': 513,
 'RoboCop 3': 514,
 'Robin Hood: Men in Tights': 515,
 'Romeo Is Bleeding': 516,
 'Romper Stomper': 517,
 'Ruby in Paradise': 518,
 'Rudy': 519,
 'The Saint of Fort Washington': 520,
 'Savage Nights': 521,
 "Schindler's List": 522,
 'The Scout': 523,
 'Searching for Bobby Fischer': 524,
 'Second Best': 525,
 'The Secret Garden': 41352,
 'Serial Mom': 527,
 'The Shadow': 528,
 'Shadowlands': 529,
 'Short Cuts': 530,
 'A Simple Twist of Fate': 531,
 'Sirens': 532,
 'Six Degrees of Separation': 533,
 'Sleepless in Seattle': 534,
 'Sliver': 535,
 'Blade Runner': 536,
 'Son in Law': 537,
 'So I Married an Axe Murderer': 538,
 'Striking Distance': 539,
 'Harem': 540,
 'Super Mario Bros.': 541,
 'Surviving the Game': 542,
 'Terminal Velocity': 543,
 'Thirty Two Short Films About Glenn Gould': 544,
 'Threesome': 545,
 'The Nightmare Before Christmas': 546,
 'The Three Musketeers': 18589,
 'Tombstone': 548,
 'Trial by Jury': 549,
 'True Romance': 550,
 'The War Room': 551,
 'The Pagemaster': 552,
 'Paris, France': 553,
 'The Beans of Egypt, Maine': 554,
 'Killer': 18114,
 'Welcome to the Dollhouse': 556,
 'Germinal': 557,
 'Chasers': 558,
 'Cronos': 559,
 'Naked in New York': 560,
 'Kika': 561,
 'Bhaji on the Beach': 562,
 'Little Big League': 563,
 'The Slingshot': 564,
 'Wide Eyed and Legless': 565,
 'Foreign Student': 566,
 'Ciao, Professore!': 567,
 'Spanking the Monkey': 568,
 'The Little Rascals': 569,
 'À la mode': 570,
 'Andre': 571,
 'The Escort': 32195,
 'Princess Caraboo': 573,
 'The Celluloid Closet': 574,
 'Café au Lait': 575,
 'Dear Diary': 576,
 "I Don't Want to Talk About It": 577,
 'The Brady Bunch Movie': 578,
 'Home Alone': 579,
 'Ghost': 43947,
 'Aladdin': 25520,
 'Terminator 2: Judgment Day': 582,
 'Dances with Wolves': 583,
 'Tough and Deadly': 584,
 'Batman': 8603,
 'The Silence of the Lambs': 586,
 'Snow White and the Seven Dwarfs': 587,
 'Beauty and the Beast': 42222,
 'Pinocchio': 27686,
 'Pretty Woman': 590,
 'Window to Paris': 591,
 'The Wild Bunch': 592,
 'Love and a .45': 593,
 "The Wooden Man's Bride": 594,
 'A Great Day in Harlem': 595,
 'Bye Bye Love': 596,
 'One Fine Day': 597,
 'Candyman: Farewell to the Flesh': 598,
 'Century': 599,
 'Fargo': 600,
 'Homeward Bound II: Lost in San Francisco': 601,
 'Heavy Metal': 602,
 'Hellraiser: Bloodline': 603,
 'The Pallbearer': 604,
 'Jane Eyre': 44938,
 'Loaded': 29145,
 'Bread and Chocolate': 607,
 'The Aristocats': 608,
 'The Flower of My Secret': 609,
 'Two Much': 610,
 'Ed': 611,
 'Scream of Stone': 612,
 'My Favorite Season': 613,
 'A Modern Affair': 614,
 'Condition Red': 615,
 'Halfaouine: Boy of the Terraces': 616,
 'A Thin Line Between Love and Hate': 617,
 'The Last Supper': 618,
 'Primal Fear': 619,
 'Rude': 620,
 'Carried Away': 621,
 'All Dogs Go to Heaven 2': 622,
 'Land and Freedom': 623,
 'Denise Calls Up': 624,
 'Theodore Rex': 625,
 'A Family Thing': 626,
 'Frisk': 627,
 'Sgt. Bilko': 628,
 'Jack & Sarah': 629,
 'Girl 6': 630,
 'Diabolique': 6964,
 'Little Indian, Big City': 632,
 'Roula': 633,
 'Nelly and Monsieur Arnaud': 636,
 'Courage Under Fire': 637,
 'Mission: Impossible': 638,
 'Cold Fever': 639,
 'Moll Flanders': 640,
 '301, 302': 642,
 'DragonHeart': 643,
 "My Mother's Courage": 645,
 'Eddie': 646,
 'Yankee Zulu': 647,
 "Billy's Holiday": 648,
 'Purple Noon': 649,
 'August': 23621,
 'James and the Giant Peach': 651,
 'Fear': 36801,
 'Kids in the Hall: Brain Candy': 653,
 'Faithful': 654,
 'Underground': 34478,
 'All Things Fair': 656,
 'Bloodsport II': 657,
 'Pather Panchali': 658,
 'The World of Apu': 659,
 'Mystery Science Theater 3000: The Movie': 660,
 'Tarantella': 661,
 'Space Jam': 662,
 'Barbarella': 663,
 'Hostile Intentions': 664,
 'They Bite': 665,
 'Some Folks Call It a Sling Blade': 666,
 'The Run of the Country': 667,
 'Alphaville': 668,
 'Coup de Torchon': 669,
 'Tigrero: A Film That Was Never Made': 670,
 'The Eye of Vichy': 671,
 'Windows': 672,
 "It's My Party": 673,
 'Country Life': 674,
 'Operation Dumbo Drop': 675,
 'The Promise': 44533,
 'Mrs. Winterbourne': 677,
 'Solo': 30618,
 'The Substitute': 31980,
 'True Crime': 2448,
 'Butterfly Kiss': 44491,
 'Feeling Minnesota': 683,
 'Delta of Venus': 684,
 'To Cross the Rubicon': 685,
 'Angus': 686,
 'Priest Daens': 687,
 'Faces': 688,
 'Boys': 28827,
 'The Quest': 690,
 'Cosi': 691,
 'Sunset Park': 692,
 'Mulholland Falls': 693,
 'The Truth About Cats & Dogs': 694,
 'Oliver & Company': 695,
 'Celtic Pride': 696,
 'Flipper': 8123,
 'Captives': 698,
 'Of Love and Shadows': 699,
 'Dead Man': 700,
 'The Horseman on the Roof': 701,
 'Switchblade Sisters': 702,
 'Mouth to Mouth': 11064,
 'The Visitors': 35044,
 'Multiplicity': 705,
 'The Haunted World of Edward D. Wood, Jr.': 706,
 'Two Friends': 37578,
 'The Craft': 708,
 'The Great White Hype': 709,
 'Last Dance': 710,
 'War Stories Our Mother Never Told Us': 711,
 'Cold Comfort Farm': 712,
 'Institute Benjamenta, or This Dream People Call Human Life': 713,
 "Heaven's Prisoners": 714,
 'Original Gangstas': 715,
 'The Rock': 716,
 'Getting Away with Murder': 717,
 'Cemetery Man': 718,
 'Twister': 7430,
 'Barb Wire': 720,
 'Le Garçu': 721,
 'Honeymoon': 40245,
 'Ghost in the Shell': 42309,
 'Thinner': 724,
 'Spy Hard': 725,
 'Brothers in Trouble': 726,
 'A Close Shave': 727,
 'Force of Evil': 728,
 'The Stupids': 729,
 'The Arrival': 730,
 'The Man from Down Under': 731,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 732,
 'Careful': 733,
 'Vermont Is for Lovers': 734,
 'A Month by the Lake': 735,
 'Gold Diggers: The Secret of Bear Mountain': 736,
 'Kim': 737,
 'Carmen Miranda: Bananas Is My Business': 738,
 'Ashes of Time': 739,
 'The Jar': 740,
 'Maya Lin: A Strong Clear Vision': 741,
 'Stalingrad': 26606,
 'The Phantom': 42034,
 'Striptease': 744,
 'The Last of the High Kings': 745,
 'Heavy': 746,
 'Jack': 40386,
 'I Shot Andy Warhol': 748,
 'The Grass Harp': 749,
 "Someone Else's America": 750,
 'Life is Rosy': 751,
 'Quartier Mozart': 752,
 'Touki Bouki': 753,
 "God's Gift": 754,
 'Spirits of the Dead': 755,
 'Babyfever': 756,
 "Pharaoh's  Army": 757,
 'Trainspotting': 758,
 'Til There Was You': 759,
 'Independence Day': 760,
 'Stealing Beauty': 761,
 'The Fan': 5518,
 'The Hunchback of Notre Dame': 8303,
 'The Cable Guy': 764,
 'Kingpin': 765,
 'Eraser': 766,
 'The Gate of Heavenly Peace': 767,
 'The Nutty Professor': 2027,
 'I, the Worst of All': 769,
 'An Unforgettable Summer': 770,
 'A Hungarian Fairy Tale': 771,
 'My Life and Times With Antonin Artaud': 772,
 'Midnight Dancers': 773,
 'Somebody to Love': 774,
 'A Very Natural Thing': 775,
 'The Old Lady Who Walked in the Sea': 776,
 'Daylight': 23014,
 'The Frighteners': 778,
 'Lone Star': 779,
 'Harriet the Spy': 780,
 'Phenomenon': 781,
 'Walking and Talking': 782,
 "She's the One": 783,
 'A Time to Kill': 784,
 'American Buffalo': 785,
 'Rendezvous in Paris': 786,
 'Alaska': 787,
 'Fled': 788,
 'Kazaam': 789,
 'Magic Hunter': 790,
 'Larger Than Life': 791,

In [70]:
def get_recommendation(title, n):
    idx = title_to_index[title]
    sim_scores = list(enumerate(cos_sim_res[idx]))
    sim_scores = sorted(sim_scores, key=lambda x : x[1], reverse=True)
    sim_scores_n = sim_scores[1:n+1]
    movie_idx = [ movie_dict[0] for movie_dict in sim_scores_n]
    return data["title"].iloc[movie_idx]

In [71]:
get_recommendation("Toy Story", 10)

15348                                     Toy Story 3
2997                                      Toy Story 2
10301                          The 40 Year Old Virgin
24523                                       Small Fry
23843                     Andy Hardy's Blonde Trouble
29202                                      Hot Splash
43427                Andy Kaufman Plays Carnegie Hall
38476    Superstar: The Life and Times of Andy Warhol
42721    Andy Peters: Exclamation Mark Question Point
8327                                        The Champ
Name: title, dtype: object

In [72]:
# ML(Scikit-learn) 수학적 -> Dl(RNN, LSTM) 생물학적 -> Transformer(BERT, GPT)(문맥을 고려해서 학습을 하게끔.)

In [73]:
# GPT 문장을 만들 때 BERT 문서 요약, 유사도, 긍부정(LSTM..etc)